/* 
    General Styles
*/
.my-card {
    
    min-width: 350px;
    margin: 5px;
    border: 1px solid lightgray;
    
}

.my-card > div >img { 
    width: 100%;
    height: 300px;
  }

  .button-footer {
    display: flex;
    justify-content: space-between;
  }

  .body-text, .button-footer{
    padding: 15px;
  }

  .my-carrusel {
    display: flex;
    overflow-x:scroll ;
    padding: 5px;
    margin: 5px;
  }